<h2>メルカリアカウント一覧</h2>


<%= link_to 'アカウントを作成', new_mercari_user_path, class: 'btn btn-primary'  %>
<p></p>
<table class="table table-striped">
<th width="100">画像</th>
<th width="100">アカウント詳細</th>
<th width="100">商品データ</th>
<th width="100">自動出品</th>
<th width="150">前回の出品日時</th>
<th width="150">商品数</th>
<th width="150">「出品」ボタンを押せる残回数</th>
<th width="400"></th>
<% @mercari_users.each do |mercari_user| %>
  <tr>
    <td><%= image_tag mercari_user.image_full_filepath.thumb100.url %></td>
    <td><%= link_to mercari_user.name, edit_mercari_user_path(mercari_user) %></td>
    <td><%= link_to '商品一覧', items_path(mercari_user_id: mercari_user.id) %></td>
    <td>
      <% if mercari_user.in_progress? %>
        出品中
      <% else %>
        停止中
      <% end %>
    </td>
    <td>（前回の出品日時）</td>
    <td><%= mercari_user.items.count %></td>
    <td>「出品」ボタンを押せる残回数</td>
    <td>
      <p><%= link_to 'アカウントを削除', delete_mercari_account_path(mercari_user_id: mercari_user.id), data: {:confirm => '本当にメルカリアカウントを削除しますか？'}, :method => :post, class: 'btn btn-danger' %></p>
      <p><%= link_to '認証トークンを更新', update_mercari_auth_token_path(mercari_user_id: mercari_user.id), data: {:confirm => 'メルカリ認証トークンを更新しますか？(※ 1日1回のみ)'}, :method => :post, class: 'btn btn-info' %></p>
    </td>

  </tr>
<% end %>
</table>
